@page "/Azure"
<h1>Azure IP Ranges</h1>

<p>IP address ranges for Public Azure as a whole, each Azure region within Public, and ranges for several Azure Services (Service Tags) such as Storage, SQL and AzureTrafficManager in Public. </p>

@if (Endpoints == null && Services == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <MatSelect Label="Select a service" ValueChanged="(string i) => OnChangeService(i)" Value="@SelectedService">
            @foreach (var service in Services)
            {
                <MatOptionString Value="@service">@service</MatOptionString>
            }
        </MatSelect>
        <MatSelect Label="Select a region" ValueChanged="(string i) => OnChangeRegion(i)" Value="@SelectedRegion">
            @foreach (var region in Regions)
            {
                <MatOptionString Value="@region">@region</MatOptionString>
            }
        </MatSelect>

        <button @onclick="OnClickDownloadButton">
            <span class="oi oi-cloud-download" aria-hidden="true"></span> CSV
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Name</th>
                <th>Region</th>
                <th>Platform</th>
                <th>Address Prefixes</th>
                <th>Network Features</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var endPoint in SelectedEndpoints)
            {
                <tr>
                    <td>@endPoint.properties.systemService</td>
                    <td>@endPoint.name</td>
                    <td>@endPoint.properties.region</td>
                    <td>@endPoint.properties.platform</td>
                    <td>
                        @if (endPoint.properties.addressPrefixes != null)
                        {
                            <MatAccordion>
                                <MatExpansionPanel>
                                    <MatExpansionPanelSummary>
                                        <MatExpansionPanelHeader>Ips</MatExpansionPanelHeader>
                                    </MatExpansionPanelSummary>
                                    <MatExpansionPanelDetails>
                                        <ul>
                                            @foreach (var ip in @endPoint.properties.addressPrefixes)
                                            {
                                                <li>@ip</li>
                                            }
                                        </ul>
                                    </MatExpansionPanelDetails>
                                </MatExpansionPanel>
                            </MatAccordion>
                        }
                    </td>
                    <td>
                        @if (endPoint.properties.networkFeatures != null)
                        {
                            <MatAccordion>
                                <MatExpansionPanel>
                                    <MatExpansionPanelSummary>
                                        <MatExpansionPanelHeader>Network</MatExpansionPanelHeader>
                                    </MatExpansionPanelSummary>
                                    <MatExpansionPanelDetails>
                                        <ul>
                                            @foreach (var network in @endPoint.properties.networkFeatures)
                                            {
                                                <li>@network</li>
                                            }
                                        </ul>
                                    </MatExpansionPanelDetails>
                                </MatExpansionPanel>
                            </MatAccordion>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
 
